@import "../../../../../assets/colors";

.app-card {
  margin-top: 50px;
  margin-bottom: 50px;

  &-first-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;

    &-reverse {
      align-items: flex-end;
    }

    p {
      margin-top: 20px;
    }
  }

  &-second-column p {
    margin: 0;
  }

  &-img {
    background-color: $light-dark;
  }

  &-header {
    font-size: 26px;
    color: $color-dark;
    margin: 0;
  }

  &-subheader {
    color: $light-dark;
    font-size: 18px;
  }

  &-btn {
    border-radius: 30px;
    background-color: $color-dark;
    color: $color-white;
    padding: 0 30px;
    margin-top: 15px;
  }
}
