<div class="login-page">
    <div class="login-pictures"></div>

    <div class="login-form-wrap">
        <div class="login-form">
            <h3 class="app-card-header">Login</h3>

            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput placeholder="name">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password">
            </mat-form-field>

            <a href="#" class="forgot-password">Forgot the password</a>

            <button routerLink="/" mat-button class="app-dark-btn">Log in</button>
        </div>
    </div>
</div>
