@import "../../../../../assets/colors";

.app-card-header {
  margin: 0;
  text-align: end;
}

.product {
  &-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &-description {
    margin-bottom: 40px;
  }

  &-btn {
    padding: 0 30px;
    background-color: $light-gray;
  }

  &-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;

    .material-icons {
      margin: 0 auto;
      font-size: 40px;
    }
  }

  &-title {
    font-size: 22px;
    text-align: center;
  }
}

.second-product {
  box-shadow: 1px 0 0 $color-grey, -1px 0 0 $color-grey;
}


