<div class="app-card">
    <div class="row">
        <div class="col-8">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra
                nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor
                sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui.
            </p>
        </div>

        <div class="col-4 app-card-first-column app-card-first-column-reverse">
            <div>
                <h3 class="app-card-header">Our Products</h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4 product-column">
            <div>
                <div class="product-title">On-prem</div>

                <div class="product-icon">
                    <span class="material-icons">library_books</span>
                </div>

                <p class="product-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra
                    nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor
                    sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui.
                </p>
            </div>

            <button mat-stroked-button class="product-btn">More</button>
        </div>

        <div class="col-4 product-column second-product">
            <div>
                <div class="product-title">On-prem</div>

                <div class="product-icon">
                    <span class="material-icons">library_books</span>
                </div>

                <p class="product-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra
                    nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor
                    sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris
                    sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula
                    eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo
                    hendrerit.
                </p>
            </div>

            <button mat-stroked-button class="product-btn">More</button>
        </div>

        <div class="col-4 product-column">
            <div>
                <div class="product-title">On-prem</div>

                <div class="product-icon">
                    <span class="material-icons">library_books</span>
                </div>

                <p class="product-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra
                    nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus,
                    tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque
                    nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in
                    tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis
                    sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit
                    amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu
                    mauris, malesuada quis ornare accumsan, blandit sed diam. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate
                    commodo lectus, ac blandit elit tincidunt id.
                </p>
            </div>

            <button mat-stroked-button class="product-btn">More</button>
        </div>
    </div>

</div>


