<div class="row app-card">
    <div class="col-6 app-card-first-column">
        <div>
            <h3 class="app-card-header">Start stream</h3>

            <span class="app-card-subheader">go go go</span>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra
                nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus,
                tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui.
            </p>
        </div>

        <button mat-button class="app-dark-btn" routerLink="/stream">Start stream</button>
    </div>

    <div class="col-6 app-card-img"></div>
</div>
