<div class="container stream-box">
    <button  class="app-dark-btn"
             mat-button
             (click)="beginStream(yourVideo, theirVideo)"
    >Начать</button>

    <div class="row">
        <div class="col-7 main-window">
            <a href="#">Link for connecting with another people</a>

            <video autoplay playsinline #yourVideo></video>
        </div>

        <div class="col-5 windows-block">
            <button mat-button class="app-dark-btn">Закрыть</button>

            <div class="windows">
                <video autoplay playsinline #theirVideo></video>

                <video *ngFor="let i of [1,2,3,4,5,6,7]" controls="controls" [id]="i">
                    <source src="#" type='video/ogg; codecs="theora, vorbis"'>
                </video>
            </div>
        </div>
    </div>
</div>
