@import "../../../../../assets/colors";

.app-card {
  &-first-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;

    &-reverse {
      align-items: flex-end;
    }

    p {
      margin-top: 20px;
    }
  }

  &-second-column p {
    margin: 0;
  }

  &-img {
    background-color: $light-dark;
  }

  &-header {margin: 0;}

  &-subheader {
    color: $light-dark;
    font-size: 18px;
  }
}
