@import "../../../../../assets/colors";

.app-card-header {
  text-align: end;
}

.contact-field {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  resize: none;
  padding: 10px 15px;

  &:focus {
    outline: none;
  }
}

.contact-rating-title {
  font-size: 20px;
}

.contact-rating-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
