<div class="header">
  <div class="header-wrap container h-100">
    <div class="row align-items-center h-100">
      <app-logo class="col-2 logo"></app-logo>

      <div class="menu col-4 offset-4">
        <button mat-button>Products</button>
        <button mat-button>Developers</button>
        <button mat-button>About us</button>
      </div>

      <div class="authorization col-2">
        <button mat-stroked-button class="signIn-btn">Sign in</button>
      </div>
    </div>
  </div>
</div>
