@import "../../../assets/colors";


.product {
  &-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &-description {
    margin-bottom: 40px;
  }

  &-btn {
    padding: 0 30px;
    background-color: $light-gray;
  }
}
